MQTT/flows.json
[
    {
        "id": "2e4e910c9b8b965f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "adf2d2d757d07856",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e80c4ca6875b7f28",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "91527c21ef358a1f",
        "type": "mqtt-broker",
        "name": "IOT",
        "broker": "broker.mqttdashboard.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0c3ed7beda01e705",
        "type": "mongodb",
        "hostname": "cluster0.srotqsm.mongodb.net",
        "topology": "dnscluster",
        "connectOptions": "",
        "port": "27017",
        "db": "IOT_Database",
        "name": "MongoDB_Input"
    },
    {
        "id": "aa895b6a92e92aaf",
        "type": "ui_group",
        "name": "Heat Index",
        "tab": "872b2bf38620df2f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4a6a9cb107207e7e",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "872b2bf38620df2f",
        "type": "ui_tab",
        "name": "new",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f0e2385baadcf895",
        "type": "http in",
        "z": "2e4e910c9b8b965f",
        "name": "Get Info",
        "url": "/log",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "4e5032ee4604b1ed"
            ]
        ]
    },
    {
        "id": "4e5032ee4604b1ed",
        "type": "function",
        "z": "2e4e910c9b8b965f",
        "name": "Set Post URL",
        "func": "msg.url = \"getmypost\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 300,
        "wires": [
            [
                "3a2de62341f5b138"
            ]
        ]
    },
    {
        "id": "3a2de62341f5b138",
        "type": "template",
        "z": "2e4e910c9b8b965f",
        "name": "Javascript code",
        "field": "payload.script",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "$(document).ready(function(e) {\n    $(\"form[ajax=true]\").submit(function(e) {\n\n        e.preventDefault();\n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n\n        $(\"#loadingimg\").show();\n\n        $.ajax({\n            url: form_url,\n            type: form_method,\n            data: form_data,\n            cache: false,\n            success: function(returnhtml) {\n                $(\"#result\").html(returnhtml);\n                $(\"#loadingimg\").hide();\n            }\n        });\n\n    });\n\n});",
        "output": "str",
        "x": 500,
        "y": 340,
        "wires": [
            [
                "363858de55198580"
            ]
        ]
    },
    {
        "id": "363858de55198580",
        "type": "template",
        "z": "2e4e910c9b8b965f",
        "name": "CSS code",
        "field": "payload.style",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "input[type=text],\nselect {\n\n    width: 100 %;\n    padding: 12 px 20 px;\n    margin: 8 px 0;\n \tdisplay: inline - block;\n    border: 1 px solid;\n    border - radius: 4 px;\n    box - sizing: border - box;\n\n}\n\nninput[type=submit] {\n\n    width: 100 %;\n    background - color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\n\ninput[type=submit]: hover {\n\n    background - color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: # f2f2f2;\n    padding: 20 px;\n\n}",
        "output": "str",
        "x": 660,
        "y": 380,
        "wires": [
            [
                "35ed59076b4c7074"
            ]
        ]
    },
    {
        "id": "35ed59076b4c7074",
        "type": "template",
        "z": "2e4e910c9b8b965f",
        "name": "HTML code",
        "field": "payload.html",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n\n<head>\n    <title>My Site</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>\n        {\n                {\n                    {\n                    payload.style\n                }\n            }\n        }\n    </style>\n</head>\n<div>\n    <form method=\"post\" action=\"{{url}}\" ajax=\"true\"><label for=\"fname\">First Name</label><input type=\"text\" id=\"fname\" name=\"firstname\"><label for=\"lname\">Last Name</label><input type=\"text\" id=\"lname\" name=\"lastname\"><label for=\"country\">Country</label><select id=\"country\" name=\"country\">\n            <option value=\"India\">India</option>\n            <option value=\"canada\">Canada</option>\n            <option value=\"usa\">USA</option>\n        </select><input type=\"submit\" value=\"Submit\"></form>\n</div>\n<div><span id=\"result\"></span></div>\n</body>\n\n</html>\n<script>\n    {\n        {\n            {\n                payload.script\n            }\n        }\n    }\n</script>",
        "output": "str",
        "x": 810,
        "y": 420,
        "wires": [
            [
                "c4032e10bfaf18f8"
            ]
        ]
    },
    {
        "id": "c4032e10bfaf18f8",
        "type": "http response",
        "z": "2e4e910c9b8b965f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 950,
        "y": 460,
        "wires": []
    },
    {
        "id": "5cf77b1b27110ed8",
        "type": "http in",
        "z": "2e4e910c9b8b965f",
        "name": "",
        "url": "/getmypost",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 420,
        "wires": [
            [
                "492aca5c971a6b24"
            ]
        ]
    },
    {
        "id": "62ead334061ad63e",
        "type": "function",
        "z": "2e4e910c9b8b965f",
        "name": "function 1",
        "func": "msg.payload = 'The following data was submitted and available in the msg.payload: ' + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 520,
        "wires": [
            [
                "cc77e56ad1ee2a52"
            ]
        ]
    },
    {
        "id": "492aca5c971a6b24",
        "type": "join",
        "z": "2e4e910c9b8b965f",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 330,
        "y": 460,
        "wires": [
            [
                "62ead334061ad63e"
            ]
        ]
    },
    {
        "id": "cc77e56ad1ee2a52",
        "type": "http request",
        "z": "2e4e910c9b8b965f",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "persist": false,
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 730,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "5e0ed7c79851fcfe",
        "type": "mqtt in",
        "z": "adf2d2d757d07856",
        "name": "MQTT_Temperature",
        "topic": "sensedata/t",
        "qos": "0",
        "datatype": "utf8",
        "broker": "91527c21ef358a1f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 280,
        "wires": [
            [
                "64df18a8a1d909ca",
                "92eae0a8963907e9"
            ]
        ]
    },
    {
        "id": "7611354ed8017563",
        "type": "mqtt in",
        "z": "adf2d2d757d07856",
        "name": "MQTT_Relative Humidity",
        "topic": "sensedata/rh",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "91527c21ef358a1f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 420,
        "wires": [
            [
                "64df18a8a1d909ca",
                "b92cfe7f08f371a6"
            ]
        ]
    },
    {
        "id": "c5a8ddad1eb3bc20",
        "type": "mqtt in",
        "z": "adf2d2d757d07856",
        "name": "MQTT_Heat index",
        "topic": "sensedata/hi",
        "qos": "0",
        "datatype": "auto",
        "broker": "91527c21ef358a1f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 560,
        "wires": [
            [
                "64df18a8a1d909ca",
                "0d06ea34c5ed189b"
            ]
        ]
    },
    {
        "id": "64df18a8a1d909ca",
        "type": "debug",
        "z": "adf2d2d757d07856",
        "name": "debug_HI",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 160,
        "wires": []
    },
    {
        "id": "cb64b66e367868f5",
        "type": "mongodb out",
        "z": "adf2d2d757d07856",
        "mongodb": "0c3ed7beda01e705",
        "name": "",
        "collection": "temperature",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 840,
        "y": 280,
        "wires": []
    },
    {
        "id": "9317ee874f8a40d8",
        "type": "mongodb out",
        "z": "adf2d2d757d07856",
        "mongodb": "0c3ed7beda01e705",
        "name": "MongoDB_Input Relative Humidity",
        "collection": "Relative_Humidity",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 860,
        "y": 420,
        "wires": []
    },
    {
        "id": "0b683324c5480f4e",
        "type": "mongodb out",
        "z": "adf2d2d757d07856",
        "mongodb": "0c3ed7beda01e705",
        "name": "MongoDB_Input Heat Index",
        "collection": "Heat_Index",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 840,
        "y": 560,
        "wires": []
    },
    {
        "id": "92eae0a8963907e9",
        "type": "function",
        "z": "adf2d2d757d07856",
        "name": "function 2",
        "func": "var date = new Date();\n\nmsg.temperature = Number(msg.payload)\nmsg.date = date.getFullYear() + \"-\" + (date.getMonth() + 1) + \"-\" + date.getDate()\nmsg.time = date.getHours() + ':' + date.getMinutes();\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 280,
        "wires": [
            [
                "cb64b66e367868f5"
            ]
        ]
    },
    {
        "id": "b92cfe7f08f371a6",
        "type": "function",
        "z": "adf2d2d757d07856",
        "name": "function 3",
        "func": "var date = new Date();\n\nmsg.relativeHumidity = Number(msg.payload)\nmsg.date = date.getFullYear() + \"-\" + (date.getMonth() + 1) + \"-\" + date.getDate()\nmsg.time = date.getHours() + ':' + date.getMinutes();\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 420,
        "wires": [
            [
                "9317ee874f8a40d8"
            ]
        ]
    },
    {
        "id": "0d06ea34c5ed189b",
        "type": "function",
        "z": "adf2d2d757d07856",
        "name": "function 4",
        "func": "var date = new Date();\n\nmsg.heatIndex = Number(msg.payload)\nmsg.date = date.getFullYear() + \"-\" + (date.getMonth() + 1) + \"-\" + date.getDate()\nmsg.time = date.getHours() + ':' + date.getMinutes();\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 560,
        "wires": [
            [
                "0b683324c5480f4e",
                "dd44bf9833cabab7"
            ]
        ]
    },
    {
        "id": "f2297da5e119da97",
        "type": "ui_gauge",
        "z": "adf2d2d757d07856",
        "name": "",
        "group": "aa895b6a92e92aaf",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Gague",
        "label": "F",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": "150",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "80",
        "seg2": "120",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 640,
        "wires": []
    },
    {
        "id": "dd44bf9833cabab7",
        "type": "function",
        "z": "adf2d2d757d07856",
        "name": "function 5",
        "func": "\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 640,
        "wires": [
            [
                "f2297da5e119da97"
            ]
        ]
    }
]