Node-Red/flows.json
[
    {
        "id": "9a207c69eabd3b3d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "468d2e434654a75e",
        "type": "debug",
        "z": "9a207c69eabd3b3d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 460,
        "wires": []
    },
    {
        "id": "fba3498020037a03",
        "type": "split",
        "z": "9a207c69eabd3b3d",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 910,
        "y": 420,
        "wires": [
            [
                "51a761c07aba97ea"
            ]
        ]
    },
    {
        "id": "51a761c07aba97ea",
        "type": "change",
        "z": "9a207c69eabd3b3d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload.date",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 420,
        "wires": [
            [
                "468d2e434654a75e",
                "f37f75ebeee73204"
            ]
        ]
    },
    {
        "id": "c557d9621bb7bd67",
        "type": "ui_text",
        "z": "9a207c69eabd3b3d",
        "group": "e6de70440d117b09",
        "order": 31,
        "width": 1,
        "height": 2,
        "name": "",
        "label": "               RH (%)",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "x": 1500,
        "y": 400,
        "wires": []
    },
    {
        "id": "76d8383d9bd9fb4e",
        "type": "ui_text",
        "z": "9a207c69eabd3b3d",
        "group": "e6de70440d117b09",
        "order": 58,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "Month",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "x": 1510,
        "y": 440,
        "wires": []
    },
    {
        "id": "28dbe8c482b766b7",
        "type": "debug",
        "z": "9a207c69eabd3b3d",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 720,
        "wires": []
    },
    {
        "id": "ce2ede15c9e7f2d3",
        "type": "split",
        "z": "9a207c69eabd3b3d",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 910,
        "y": 540,
        "wires": [
            [
                "b8b0ee1cd9285e53"
            ]
        ]
    },
    {
        "id": "b8b0ee1cd9285e53",
        "type": "change",
        "z": "9a207c69eabd3b3d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload.date",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 540,
        "wires": [
            [
                "28dbe8c482b766b7",
                "26d00cfaf17539e2"
            ]
        ]
    },
    {
        "id": "86cbb66c6ddae0ff",
        "type": "ui_text",
        "z": "9a207c69eabd3b3d",
        "group": "e6de70440d117b09",
        "order": 60,
        "width": 1,
        "height": 2,
        "name": "",
        "label": "               RH (%)",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "x": 1580,
        "y": 580,
        "wires": []
    },
    {
        "id": "76308b13eb14a3b9",
        "type": "ui_text",
        "z": "9a207c69eabd3b3d",
        "group": "e6de70440d117b09",
        "order": 85,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "Month",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "x": 1590,
        "y": 620,
        "wires": []
    },
    {
        "id": "4f2336484187190b",
        "type": "debug",
        "z": "9a207c69eabd3b3d",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 840,
        "wires": []
    },
    {
        "id": "fc0452e2a507b920",
        "type": "inject",
        "z": "9a207c69eabd3b3d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 900,
        "wires": [
            [
                "6f9729626c8b0d80"
            ]
        ]
    },
    {
        "id": "95c5a82924b3b1a9",
        "type": "ui_text",
        "z": "9a207c69eabd3b3d",
        "group": "e6de70440d117b09",
        "order": 6,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "<font size =5> Current Relative Humidity    : ",
        "format": "<font size =6>{{msg.payload}}%",
        "layout": "row-right",
        "className": "",
        "x": 820,
        "y": 920,
        "wires": []
    },
    {
        "id": "8247d8217112994d",
        "type": "ui_gauge",
        "z": "9a207c69eabd3b3d",
        "name": "Relative Humidity",
        "group": "e6de70440d117b09",
        "order": 10,
        "width": 9,
        "height": 6,
        "gtype": "gage",
        "title": "Relative Humidity",
        "label": "%",
        "format": "{{value}} %",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 1000,
        "wires": []
    },
    {
        "id": "4f8cca5e0db84485",
        "type": "debug",
        "z": "9a207c69eabd3b3d",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 840,
        "wires": []
    },
    {
        "id": "c1f6818e568c8aa5",
        "type": "inject",
        "z": "9a207c69eabd3b3d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1030,
        "y": 840,
        "wires": [
            [
                "7efc1e77ca521624"
            ]
        ]
    },
    {
        "id": "7efc1e77ca521624",
        "type": "mongodb-aleph-in",
        "z": "9a207c69eabd3b3d",
        "mongodb": "65c9fb278b966524",
        "name": "Mongo Heat_Index",
        "collection": "Heat_Index",
        "operation": "find",
        "x": 1230,
        "y": 840,
        "wires": [
            [
                "4f8cca5e0db84485",
                "f67b738c325d4848"
            ]
        ]
    },
    {
        "id": "4cd71819c2df6045",
        "type": "ui_gauge",
        "z": "9a207c69eabd3b3d",
        "name": "Heat Index",
        "group": "e6de70440d117b09",
        "order": 12,
        "width": 9,
        "height": 6,
        "gtype": "gage",
        "title": "Heat Index",
        "label": "°F",
        "format": "{{value}}  °F",
        "min": 0,
        "max": "150",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "90",
        "seg2": "105",
        "diff": false,
        "className": "",
        "x": 1530,
        "y": 960,
        "wires": []
    },
    {
        "id": "f67b738c325d4848",
        "type": "function",
        "z": "9a207c69eabd3b3d",
        "name": "function 1",
        "func": "let arr = msg.payload\nlet latestVal\n\n\n\nlatestVal = arr[arr.length - 1]\n\nlatestVal.heatIndex = latestVal.heatIndex.toFixed(2);\n\nmsg.payload = latestVal\n\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 1000,
        "wires": [
            [
                "9d884a7d6146b9e4"
            ]
        ]
    },
    {
        "id": "2f1aef2f4b6a914d",
        "type": "debug",
        "z": "9a207c69eabd3b3d",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 1040,
        "wires": []
    },
    {
        "id": "6f9729626c8b0d80",
        "type": "mongodb-aleph-in",
        "z": "9a207c69eabd3b3d",
        "mongodb": "65c9fb278b966524",
        "name": "",
        "collection": "Relative_Humidity",
        "operation": "find",
        "x": 300,
        "y": 900,
        "wires": [
            [
                "4f2336484187190b",
                "f840cd15d05ebf64"
            ]
        ]
    },
    {
        "id": "f840cd15d05ebf64",
        "type": "function",
        "z": "9a207c69eabd3b3d",
        "name": "function 2",
        "func": "let arr = msg.payload\nlet latestVal\n\n\n\nlatestVal = arr[arr.length - 1]\n\nmsg = latestVal\n\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 960,
        "wires": [
            [
                "8247d8217112994d",
                "95c5a82924b3b1a9",
                "3d501ec43c57ac89"
            ]
        ]
    },
    {
        "id": "3d501ec43c57ac89",
        "type": "debug",
        "z": "9a207c69eabd3b3d",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 1040,
        "wires": []
    },
    {
        "id": "7f9e3d6541a53e5b",
        "type": "ui_text",
        "z": "9a207c69eabd3b3d",
        "group": "e6de70440d117b09",
        "order": 4,
        "width": 9,
        "height": 1,
        "name": "",
        "label": "<font size =5> Current Heat Index    : ",
        "format": "<font size =6>{{msg.payload}} °F",
        "layout": "row-right",
        "className": "",
        "x": 1600,
        "y": 900,
        "wires": []
    },
    {
        "id": "f672859bc2d9ec4c",
        "type": "mongodb-aleph-in",
        "z": "9a207c69eabd3b3d",
        "mongodb": "65c9fb278b966524",
        "name": "MongoDB_Predictions_RH_AVG",
        "collection": "RHavg",
        "operation": "find",
        "x": 380,
        "y": 480,
        "wires": [
            [
                "84b2058a083bab6f",
                "a8526f38a7a5f5f3",
                "68acf18472075172"
            ]
        ]
    },
    {
        "id": "84b2058a083bab6f",
        "type": "debug",
        "z": "9a207c69eabd3b3d",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 240,
        "wires": []
    },
    {
        "id": "a2dfb9cd02bb907d",
        "type": "inject",
        "z": "9a207c69eabd3b3d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 480,
        "wires": [
            [
                "f672859bc2d9ec4c"
            ]
        ]
    },
    {
        "id": "a8526f38a7a5f5f3",
        "type": "function",
        "z": "9a207c69eabd3b3d",
        "name": "Format Past Data",
        "func": "let arr = msg.payload\n\n// Get the current date as a Date object:\nconst currentDate = new Date();\n\n// Use Array.filter() to split the array into two based on the `date` property:\nconst pastEvents = arr.filter(event => new Date(event.date) < currentDate);\nconst futureEvents = arr.filter(event => new Date(event.date) >= currentDate);\n\nfunction reduceToMonthlyAverage(arr) {\n    const result = {};\n    arr.forEach(({ date, value }) => {\n        const month = date.substr(0, 7);\n        if (!result[month]) {\n            result[month] = { date: month, value: 0, count: 0 };\n        }\n        result[month].value += value;\n        result[month].count++;\n    });\n    return Object.values(result).map(({ date, value, count }) => ({\n        date,\n        value: value / count,\n    }));\n}\n\nlet formattedPastEvents = reduceToMonthlyAverage(pastEvents);\n\nmsg.payload = formattedPastEvents\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 420,
        "wires": [
            [
                "786d0374652d30e5",
                "fba3498020037a03"
            ]
        ]
    },
    {
        "id": "786d0374652d30e5",
        "type": "debug",
        "z": "9a207c69eabd3b3d",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 340,
        "wires": []
    },
    {
        "id": "ad62d4844462f1c3",
        "type": "debug",
        "z": "9a207c69eabd3b3d",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 660,
        "wires": []
    },
    {
        "id": "68acf18472075172",
        "type": "function",
        "z": "9a207c69eabd3b3d",
        "name": "Format Future Data",
        "func": "let arr = msg.payload\n\n// Get the current date as a Date object:\nconst currentDate = new Date();\n\n// Use Array.filter() to split the array into two based on the `date` property:\nconst pastEvents = arr.filter(event => new Date(event.date) < currentDate);\nconst futureEvents = arr.filter(event => new Date(event.date) >= currentDate);\n\nfunction reduceToMonthlyAverage(arr) {\n    const result = {};\n    arr.forEach(({ date, value }) => {\n        const month = date.substr(0, 7);\n        if (!result[month]) {\n            result[month] = { date: month, value: 0, count: 0 };\n        }\n        result[month].value += value;\n        result[month].count++;\n    });\n    return Object.values(result).map(({ date, value, count }) => ({\n        date,\n        value: value / count,\n    }));\n}\n\nlet formattedFutureEvents = reduceToMonthlyAverage(futureEvents);\n\nmsg.payload = formattedFutureEvents;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 540,
        "wires": [
            [
                "ce2ede15c9e7f2d3",
                "ad62d4844462f1c3"
            ]
        ]
    },
    {
        "id": "f37f75ebeee73204",
        "type": "ui_chart",
        "z": "9a207c69eabd3b3d",
        "name": "",
        "group": "e6de70440d117b09",
        "order": 32,
        "width": 20,
        "height": 13,
        "label": "Predicted Past 12 months Relative Humidity",
        "chartType": "bar",
        "legend": "false",
        "xformat": "D/M",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "50",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#38fcff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1570,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "26d00cfaf17539e2",
        "type": "ui_chart",
        "z": "9a207c69eabd3b3d",
        "name": "",
        "group": "e6de70440d117b09",
        "order": 61,
        "width": 20,
        "height": 12,
        "label": "Predicted Future 12 Months Relative Humidity",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "50",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#ff5252",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1560,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "9d884a7d6146b9e4",
        "type": "change",
        "z": "9a207c69eabd3b3d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.heatIndex",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1340,
        "y": 1000,
        "wires": [
            [
                "7f9e3d6541a53e5b",
                "4cd71819c2df6045",
                "2f1aef2f4b6a914d"
            ]
        ]
    },
    {
        "id": "b57b526a5b49b8c0",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 1,
        "width": 22,
        "height": 1
    },
    {
        "id": "bcb60ad0ba1bc09f",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 2,
        "width": 22,
        "height": 1
    },
    {
        "id": "d4c7714a8ce4d6b3",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 3,
        "width": 22,
        "height": 1
    },
    {
        "id": "761a817449590cb1",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 5,
        "width": 3,
        "height": 1
    },
    {
        "id": "e3b5458540b82782",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "a37a23518bf9105a",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 8,
        "width": 22,
        "height": 1
    },
    {
        "id": "85040bea07965a58",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "8e2bdb954ab8c02c",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "71659df2dda5d685",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "caee809b8d76b563",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "3518293b94bfa439",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "2f7060434b3df7d3",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "a6c642dd4f2833a4",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "4af8efb8dc74e5ed",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "b78afbf96e8b40b5",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "9458e2a9b49831bc",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "c4e6fc25e73a9a12",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 21,
        "width": 2,
        "height": 1
    },
    {
        "id": "88bec70e11bacc5b",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "794d074449782bd7",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 23,
        "width": 1,
        "height": 1
    },
    {
        "id": "bc850ab31110d2d0",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 24,
        "width": 2,
        "height": 1
    },
    {
        "id": "b1c8e010d8c57d66",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 25,
        "width": 1,
        "height": 1
    },
    {
        "id": "a7479b46ea9de351",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 26,
        "width": 1,
        "height": 1
    },
    {
        "id": "7b049a900322639a",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 27,
        "width": 2,
        "height": 1
    },
    {
        "id": "de34e9609d35fbe5",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 28,
        "width": 1,
        "height": 1
    },
    {
        "id": "d67a22aa7a6f2735",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 29,
        "width": 22,
        "height": 1
    },
    {
        "id": "437020a9c668fbe6",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 30,
        "width": 22,
        "height": 1
    },
    {
        "id": "acef8ddf9a989c37",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 33,
        "width": 1,
        "height": 1
    },
    {
        "id": "d36e49cf6ec76703",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 34,
        "width": 1,
        "height": 1
    },
    {
        "id": "c33d78f73d9a102c",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 35,
        "width": 1,
        "height": 1
    },
    {
        "id": "78fc489424a47d91",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 36,
        "width": 1,
        "height": 1
    },
    {
        "id": "fb8d397748c3a815",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 37,
        "width": 1,
        "height": 1
    },
    {
        "id": "263ef47401d6d415",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 38,
        "width": 1,
        "height": 1
    },
    {
        "id": "9577b4b57a78347b",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 39,
        "width": 1,
        "height": 1
    },
    {
        "id": "8977755d7aa54737",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 40,
        "width": 1,
        "height": 1
    },
    {
        "id": "724dcdf4276542db",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 41,
        "width": 1,
        "height": 1
    },
    {
        "id": "e446fedc51239f01",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 42,
        "width": 1,
        "height": 1
    },
    {
        "id": "3b382b2109b9aa71",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 43,
        "width": 1,
        "height": 1
    },
    {
        "id": "dd1fa68decedda23",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 44,
        "width": 1,
        "height": 1
    },
    {
        "id": "f6619930f4273f23",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 45,
        "width": 1,
        "height": 1
    },
    {
        "id": "9b9ecdab537f274c",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 46,
        "width": 1,
        "height": 1
    },
    {
        "id": "046c4d391f61b75e",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 47,
        "width": 1,
        "height": 1
    },
    {
        "id": "e494f734ffc1e83c",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 48,
        "width": 1,
        "height": 1
    },
    {
        "id": "9232b7f4b2f8cf09",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 49,
        "width": 1,
        "height": 1
    },
    {
        "id": "78e05224df505c2d",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 50,
        "width": 1,
        "height": 1
    },
    {
        "id": "1bbf8012e2564c40",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 51,
        "width": 1,
        "height": 1
    },
    {
        "id": "8170262c73b4788c",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 52,
        "width": 1,
        "height": 1
    },
    {
        "id": "efa404f6b6b7e97d",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 53,
        "width": 1,
        "height": 1
    },
    {
        "id": "e098af77f1e1513a",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 54,
        "width": 1,
        "height": 1
    },
    {
        "id": "ae726ed7d72a2943",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 55,
        "width": 1,
        "height": 1
    },
    {
        "id": "9a11eafa4cd3c7c7",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 56,
        "width": 1,
        "height": 1
    },
    {
        "id": "9b65e37e25d65a89",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 57,
        "width": 19,
        "height": 1
    },
    {
        "id": "94e6ae3af0171b6c",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 59,
        "width": 1,
        "height": 1
    },
    {
        "id": "b287fe115f779213",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 62,
        "width": 1,
        "height": 1
    },
    {
        "id": "a84783270dd108af",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 63,
        "width": 1,
        "height": 1
    },
    {
        "id": "7cf455919fa1f57e",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 64,
        "width": 1,
        "height": 1
    },
    {
        "id": "52c447ca5c58ef1d",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 65,
        "width": 1,
        "height": 1
    },
    {
        "id": "73c4c44967aa7cc3",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 66,
        "width": 1,
        "height": 1
    },
    {
        "id": "70b60855f0e1138a",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 67,
        "width": 1,
        "height": 1
    },
    {
        "id": "269a7194b02f4b26",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 68,
        "width": 1,
        "height": 1
    },
    {
        "id": "fc02f8c38e6dbc0a",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 69,
        "width": 1,
        "height": 1
    },
    {
        "id": "134419d4bc10de97",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 70,
        "width": 1,
        "height": 1
    },
    {
        "id": "11d36381b4a9af92",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 71,
        "width": 1,
        "height": 1
    },
    {
        "id": "3e2cb3a3a9e428b6",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 72,
        "width": 1,
        "height": 1
    },
    {
        "id": "cc4add2c2b4b133e",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 73,
        "width": 1,
        "height": 1
    },
    {
        "id": "e1bceb60d775bfa3",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 74,
        "width": 1,
        "height": 1
    },
    {
        "id": "9773604b120e7209",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 75,
        "width": 1,
        "height": 1
    },
    {
        "id": "691ce7e1469887d7",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 76,
        "width": 1,
        "height": 1
    },
    {
        "id": "5bfb28a00de21183",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 77,
        "width": 1,
        "height": 1
    },
    {
        "id": "d486aac735aca7fc",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 78,
        "width": 1,
        "height": 1
    },
    {
        "id": "4ce05ffe0072d10b",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 79,
        "width": 1,
        "height": 1
    },
    {
        "id": "714e7f677f25a697",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 80,
        "width": 1,
        "height": 1
    },
    {
        "id": "97fb86514ce54010",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 81,
        "width": 1,
        "height": 1
    },
    {
        "id": "77021ddeac744169",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 82,
        "width": 1,
        "height": 1
    },
    {
        "id": "ec5cf7f6c48e9f39",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 83,
        "width": 1,
        "height": 1
    },
    {
        "id": "ac6e82e0c85f9693",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 84,
        "width": 19,
        "height": 1
    },
    {
        "id": "cb4f527060f2c474",
        "type": "ui_spacer",
        "z": "9a207c69eabd3b3d",
        "name": "spacer",
        "group": "e6de70440d117b09",
        "order": 86,
        "width": 1,
        "height": 1
    },
    {
        "id": "e6de70440d117b09",
        "type": "ui_group",
        "name": "Relative Humidity Dashboard ",
        "tab": "fc04d5ce949eb927",
        "order": 1,
        "disp": true,
        "width": 22,
        "collapse": false,
        "className": ""
    },
    {
        "id": "65c9fb278b966524",
        "type": "mongodb-aleph-config",
        "hostname": "cluster0.srotqsm.mongodb.net",
        "topology": "dnscluster",
        "connectOptions": "",
        "port": "27017",
        "db": "IOT_Database",
        "name": "MongoDB"
    },
    {
        "id": "fc04d5ce949eb927",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]